<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tysheng.atlas">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BlackTheme">
        <meta-data
            android:name="tysheng.atlas.weixin"
            android:value="85e31053269d6d5dba4cc3d37c9d33eb"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ui.WeatherTabActivity"
            android:label="@string/title_activity_weather"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".gank.ui.WebviewActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:name=".ui.WeatherListActivity"
            >
        </activity>
        <activity
            android:name=".gank.ui.PictureActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".gank.ui.GankDailyActivity"
            android:label="@string/gank_daily"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".gank.ui.SortActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".gank.ui.GankCategoryActivity"
            android:label="@string/fm_gank"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".gank.ui.DailyDetailActivity"
            android:label="@string/fm_gank"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gank.ui.WebVideoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:configChanges="orientation"
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay">
        </activity>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.MyIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>