<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tysheng.atlas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name="tysheng.atlas.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BlackTheme">
        <activity
            android:name="tysheng.atlas.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tysheng.atlas.activity.SettingActivity"
            android:label="@string/title_activity_setting">

        </activity>
        <activity
            android:name="tysheng.atlas.activity.WeatherTabActivity"
            android:label="@string/title_activity_weather">

        </activity>

        <activity
            android:name="tysheng.atlas.activity.WeatherActivity"
            android:label="@string/title_activity_weather"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>
